<div>
  <div class="text-center">
    <h3>
        “Happiness is a simple game of lost and found: Lose the things you take for granted, and you will feel great happiness once they are found.”
    </h3>
  </div>
  <div class="mt-5">
      <div class="row d-flex justify-content-center">
        <div class="card w-75">
          <img class="card-img-top" src="./assets/images/people.png" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-text text-center">We've helped <strong class="text-info">{{TotalRecords}}</strong> people find their lost identification cards!</h2>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="card mt-5 w-25 col-3">
          <img class="card-img-top" src="./assets/images/id-card.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-text">People lost <strong class="text-danger">{{TotalDocumentTypes}} </strong>differnt Identification types so far ranging from Passports to Driver's licenses...</h4>
          </div>
        </div>
        <div class="col-1"></div>
        <div class="card mt-5 w-50 col-5">
          <img class="card-img-top" src="./assets/images/count1.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-text">People from <strong class="text-primary">{{TotalCountries}}</strong> different nations has used <a href="#">lostMy.Id</a> to find their lost identification cards</h4>
          </div>
        </div>
      </div>      
  </div>
</div>