nav {
    background: #2D2E2E;
    text-align: center;
    height: 100%;

    @media screen and (max-width: 600px) {
        column-count: 3;
        height: fit-content;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {

            a {
                color: #fff;
                padding: 20px;
                display: block;
            }

            .activated {
                background-color: #00a8ff;
            }
        }
    }
}