@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');

body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.form-group.required .control-label:after {
    content:"*";
    color:red;
}

.left-space {
    padding-left: 7%;
}

.less-padding {
    padding: 2px;
}

.change-for-laptop {

    @media screen and (max-width: 600px) {
        flex-direction: column;
    }

    div {
        @media screen and (max-width: 600px) {
            max-width: 80% !important
        }
    }
}

#container {
   display: grid;
   grid-template-columns: 70px auto;
   height: 100%;

   @media screen and (max-width: 600px) {
        display: inline;
    }

   #content {
       padding: 30px 50px;

       @media screen and (max-width: 600px) {
            padding: 8px 12px;
        }

       ul {
           list-style-type: none;
           margin:0;
           padding:0;
       
           li {
               background: #fff;
               border-radius: 8px;
               padding: 20px;
               margin-bottom: 8px;
       
               a {
                   font-size: 1.5em;
                   text-decoration: none;
                   font-weight: bold;
                   color:#00A8FF;
               }
       
               ul {
                   margin-top: 20px;
                   
                   li {
                       padding:0;
       
                       a {
                           font-size: 1em;
                           font-weight: 300;
                       }
                   }
               }
           }
       }
   }
}

.country-flg-details {
    height: 75px;
}

.details-div{
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 8px;
    max-width: 780px;
}

.doc-details-box {
    padding-left: 20%;
    @media screen and (max-width: 400px) {
        padding-left: 2%;
    }

    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.doc-details-box>* {
    flex: 1 1 65px;
}

.wordwrap { 
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
 }