@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
$max-width: 720px;

.login-with-search {
    color: #007bff !important;
    cursor: pointer;
}

.id-type-min-width{
    min-width: 150px;
}

body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.form-group.required .control-label:after {
    content:"*";
    color:red;
}

.left-space {
    padding-left: 7%;
}

.less-padding {
    padding: 2px;
}

.change-for-laptop {

    @media screen and (max-width: $max-width) {
        flex-direction: column;
    }

    div {
        @media screen and (max-width: $max-width) {
            max-width: 80% !important
        }
    }
}

#container {
   display: grid;
   grid-template-columns: 148px auto;
   height: 100%;

   @media screen and (max-width: $max-width) {
        display: inline;
    }

   #content {
       padding: 30px 50px;

       @media screen and (max-width: $max-width) {
            padding: 8px 12px;
        }

       ul {
           list-style-type: none;
           margin:0;
           padding:0;
       
           li {
               background: #fff;
               border-radius: 8px;
               padding: 20px;
               margin-bottom: 8px;
       
               a {
                   font-size: 1.5em;
                   text-decoration: none;
                   font-weight: bold;
                   color:#00A8FF;
               }
       
               ul {
                   margin-top: 20px;
                   
                   li {
                       padding:0;
       
                       a {
                           font-size: 1em;
                           font-weight: 300;
                       }
                   }
               }
           }
       }
   }
}

.country-flg-details {
    height: 75px;
}

.details-div{
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 8px;
    max-width: 780px;
}

.doc-details-box {
    padding-left: 17%;
    @media screen and (max-width: 400px) {
        padding-left: 2%;
    }

    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.doc-details-box>* {
    flex: 1 1 65px;
}

.wordwrap { 
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
 }

 .card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
  font-weight: 600;
}

.card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1{
    background-image: url(./assets/images/person.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-2{
    background-image: url(./assets/images/identity-card.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-3{
    background-image: url(./assets/images/globe.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

@media(max-width: 990px){
  .card{
    margin: 20px;
  }
}

.large-font {
    font-size: xx-large;
}

.quote-identity {
    color: rgb(0, 0, 0);
    font-family: "PT Sans";
    font-size: 36px;
    font-weight: 700;
    line-height: 40px
}