<div class="details-div " *ngIf="user$">
    <div class="row d-flex justify-content-center"><h2> <strong>{{user$.DocumentTypeName}} details</strong> </h2></div>
    <div class="text-center mt-3"><img title="{{user$.Country}}" src="{{user$.countryFlag}}" class="country-flg-details"></div>
    <div class="text-center mt-2 wordwrap"> <h6> <strong>{{user$.Country}}</strong></h6></div>
    <div class="doc-details-box mt-5">
        <div class="w-50 wordwrap">Name on document: </div>
        <div class="w-50 wordwrap">Document #:</div>
        <div class="w-50 wordwrap">Gender:</div>
        <div class="w-50 wordwrap">Date of birth:</div>
        <div class="w-50 wordwrap">Issued on:</div>
        <div class="w-50 wordwrap">Expiry/Validity:</div>
        <div class="w-50 wordwrap"><strong> {{user$.GivenName}}</strong></div>
        <div class="w-50 wordwrap"><strong>{{user$.DocumentNumber}}</strong></div>
        <div class="w-50 wordwrap"><strong> {{user$.Sex}}</strong></div>
        <div class="w-50 wordwrap"><strong>{{user$.DateOfBirth | date: 'dd-MMM-yyyy'}}</strong></div>
        <div class="w-50 wordwrap"><strong>{{user$.IssuedOn  | date: 'dd-MMM-yyyy'}}</strong></div>
        <div class="w-50 wordwrap"><strong>{{user$.ValidityDate  | date: 'dd-MMM-yyyy'}}</strong></div>
    </div>
</div>
<div class="mt-4">
    <h6>If you think the above is your lost Identification document, and want to get it back. Do contact the <strong><a href="mailto:{{user$.SubmitterEmail}}">Finder</a></strong>, and coornidate. </h6>
</div>